@import url('./abtracts/vars.css');

@import url('./base/base.css');
@import url('./base/typography.css');

@import url('./layout/footer.css');
@import url('./layout/forms.css');
@import url('./layout/grid.css');
@import url('./layout/header.css');
@import url('./layout/navigation.css');

@import url('./components/components.css');

@import url('./pages/menu.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.featured-dishes{
    padding: 2rem 8rem;
}

.slider-container{
    width: 100%;
    margin-bottom: 5rem;
    background: var(--clr-main);
    padding: 4rem;
    border-radius: 5rem;
    margin: auto;
    overflow: hidden;
}

.slider{
    position: relative;
}

.slider-list{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.card{
    width: 17rem;
}

.slider-img{
    width: 100%;
}



@media (max-width:767.98px){
    /* nav */
    .top-nav{
        padding: 1rem 2rem;
    }

    /* hero */
    .hero-main{
        padding: 1rem 2rem;
        flex-direction: column;
    }
    
    .hero-image-container{
        width: 100%;
    }
    
    .hero-text-container{
        width: 100%;
        order: 2;
    }

    .cta-container{
        display: flex;
        justify-content: center;
    }
    /* hero */

    .featured-dishes{
        padding: 1rem 2rem;
    }

    .menu-container{
        padding: 1rem 2rem;
    }

    .footer-container{
        padding: 1rem 2rem;
    }
}