.footer-container{
    width: 100%;
    border-top: solid var(--clr-gray);
    padding: 1rem 8rem;
}

.footer-content{
    gap: 3.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.social-media{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33px, 1fr));
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 1rem;
}

.footer-list{
    list-style-type: none;
    gap: 1rem;
}

@media (max-width:767.98px) {
    .footer-container {
        padding: 1rem 2rem;
    }
}
