/* Header */
.hero-container{
    width: 100%;
    /* height: min(45rem, 50rem, 55rem); */
}

.hero-main{
    width: 100%;
    height: min(40rem, 50rem, 55rem);
    display: flex;
    padding: 2rem 8rem;
    align-items: center;
}

.hero-text-container{
    width: 50%;
}

.hero-image-container{
    width: 50%;
    display: flex;
    justify-content: center;
}

.hero-image{
    width: 100%;
}

.cta-container{
    margin-top: 3rem;
}

.description-text-container{
    width: 100%;
}

.description-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 800px)); 
}

.description-image-container{ 
    overflow: hidden;
    width: 78rem;
    height: 53.7rem;
}

.description-img{
    width: 150%;
    height: 110%;
}

/* Header */