*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* soluciona los problemas con el font family en otro archivo html */
    font-family: var(--ff-secondary);
}

html{
    font-family: var(--ff-secondary);
}