.btn-login{
    padding: .6rem;
    border-radius: 2rem;
    border: solid var(--clr-main);
    background: var(--clr-white);
    text-decoration: none;
    font-size: var(--fs-md);
    font-weight: var(--fw-semi-bold);
    color: var(--clr-black);
}

.btn-login:hover{
    background: var(--clr-main);
    color: var(--clr-white);
    transition: .3s ease;
}

.btn-main{
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background: var(--clr-main);
    color: var(--clr-white);
    text-decoration: none;
    text-align: center;
}

.btn-secondary{
    padding: 1rem;
    border-radius: 2rem;
    border: solid var(--clr-main);
    background: var(--clr-white);
    text-decoration: none;
}

.btn-related-products{
    color: var(--clr-white);
    font-size: var(--fs-lg);
    padding: 1rem 4rem;
    border-radius: 2rem;
    background: var(--clr-main);
    text-decoration: none;
}

/* subrayado para los titulos de los section (decoracion) */
.underscore{
    width: 20%;
    height: .3rem;
    background: var(--clr-main);
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.quantity-btn{
    background: var(--clr-main);
    padding: .5rem;
    border: none;
    cursor: pointer;
    color: var(--clr-white);
    font-size: var(--fs-md);
}

@media (max-width: 767.98px) {
  .btn-login {
    display: none;
  }

  .quantity-btn{
    font-size: var(--fs-lg);
}
}