.btn-login{
    padding: .6rem;
    border-radius: 2rem;
    border: solid var(--clr-main);
    background: var(--clr-white);
    text-decoration: none;
    font-size: var(--fs-md);
    font-weight: var(--fw-semi-bold);
    color: var(--clr-black);
}

.btn-login:hover{
    background: var(--clr-main);
    color: var(--clr-white);
    transition: .3s ease;
}

.btn-main{
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background: var(--clr-main);
    color: var(--clr-white);
    text-decoration: none;
    text-align: center;
}


.btn-secondary{
    padding: 1rem;
    border-radius: 2rem;
    border: solid var(--clr-main);
    background: var(--clr-white);
    text-decoration: none;
}

.btn-tertiary{
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    background: var(--clr-main);
    color: var(--clr-white);
    text-decoration: none; 
}

.btn-related-products{
    color: var(--clr-white);
    font-size: var(--fs-lg);
    padding: 1rem 4rem;
    border-radius: 2rem;
    background: var(--clr-main);
    text-decoration: none;
}

.btn-back-description{
    display: flex;
    padding: .5rem 1rem .5rem 2rem;
    border-radius: 2rem;
    border: solid var(--clr-main);
    text-decoration: none;
}

.btn-back{
    display: flex;
    padding: .5rem 1rem .5rem 2rem;
    border-radius: 2rem;
    border: solid var(--clr-main);
    text-decoration: none;



    /* padding: .5rem 2rem;
    border-radius: 2rem;
    border: solid var(--clr-main);
    text-decoration: none;
    */
} 


.btn-card{

}

.underscore{
    width: 20%;
    height: .3rem;
    background: var(--clr-main);
    border-radius: 2rem;
    margin-bottom: 1rem;
}